<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>あきひとくん頑張れ</title>
    <!-- Vue.jsとBootStrapのよみこみ  -->
    <script src="http://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- 自分で定義した制定期ファル -->

    <link rel="stylesheet" href="/static/common.css">

    <script>
        const URL = "http://localhost:5000";
    </script>


</head>


<body class="img">

<div class="container column">
    <!-- 動画プレイヤーのUIを配置する部分 -->

    <!-- 再生速度とかYYMMとか -->


    <!-- ボタン類 -->
    <div class="row mt-3 my-8">
      <!-- 元号表示 -->
      <div class="mx-5" id="show_time">
        <div class="mt-4 heisei">
          <div v-if="year==1">
          平成元年{{ month }}月
          </div>
          <div v-else>
          平成{{ year }}年{{ month }}月
          </div>

        </div>
      </div>

          <div class="mt-5 my-5" id="leftButton" v-on:click="clickLeftButton">
              <input type="image" src="/static/images/leftButton.png">
          </div>

          <div class="mt-5" id="startButton">
              <input type="image" v-on:click="clickStartButton" v-bind:src="buttonImage">
          </div>

          <div class="mt-5"　id="rightButton">
              <input type="image" v-on:click="clickRightButton" src="/static/images/rightButton.png">
          </div>
    </div>

    <!-- あきひとの予定と世間の予定を表示 -->
    <div class="row">
      <div class="col-md-5"><h2>あきひとの予定</h2></div>
      <div class="col-md-1"></div>
      <div class="col-md-6"><h2>世間の出来事</h2></div>
    </div>

    <div class="row">

        <!-- dd-tableを表示する部分 -->
        <div class="col-md-5 content-box" id="dd-table">
          <h4>
            <ul>
                <li v-for="data in schedule">
                      {{ data.day }}日 <br>
                      {{ data.schedule }}
                </li>
            </ul>
          </h4>
        </div>

        <div class="col-md-1"></div>

        <!-- 世間一般の予定を表示する部分 -->
        <div class="col-md-6 content-box row-noeq-height" id="seken">
            <!-- 世間の出来事: -->
            <p><img v-bind:src="sekenImage" width="500" height="300"><br></p>
            <p></p>
            <h4>
              <p>{{ news }}</p>
            </h4>
        </div>

    </div>
</div>

<script type="text/javascript" src="/static/update_data.js"></script>
<script type="text/javascript" src="/static/vueModels.js"></script>
<script type="text/javascript" src="/static/videoSystem.js"></script>

</body>

</html>
